<body id="b">
	<h1 class="titulo">Contador de Truco</h1>
	<div id="jugadoresContainer">
		<div id="jugador1Container" class="jugadorContainer">
			<div class="divh2">
				<h2></h2>	
			</div>
			<div class="cuenta"></div>
			<div class="botonesJugador">
				<button class="agregar">+</button>
				<button class="restar">-</button>
			</div>	
		</div>
		<div id="jugador2Container" class="jugadorContainer">
		<div class="divh2">
				<h2></h2>	
			</div>
			<div class="cuenta"></div>
			<div class="botonesJugador">
				<button class="agregar">+</button>
				<button class="restar">-</button>
			</div>	
		</div>
	</div>
	<button id="reset">Reiniciar</button>
	<dialog type="modal">
		<p>¿Estás seguro de que querés resetear la partida?</p>
		<button id="aceptar">Continuar</button>
		<button id="volver">Volver</button>
	</dialog>
</body>
