<body id="b">
<h1 class="titulo">TRUCO IX</h1>
<div class="loginyregistro">
    <form action="/login" method="POST" id="form1" class="container-sm">
        <h1>Inicio de Sesion</h1>
      
    
            <input type="text" class="form__field" id="userId" name="user" placeholder="Ingrese su usuario">
    
            <input type="password" class="form__field" id="passwordId" placeholder="Ingrese su contraseña">
        
            <input type="button" class="button_login" onclick="login()" value="Ingresar">
        
    </form>
</div>
</body>