<body id="b">
   <h1 class="titulo">TRUCO IX</h1>
   <div class="loginyregistro">
        <form action="/register" method="POST" id="form2" class="container-sm"> 
            <h1>Registrate</h1>
            
            <input type="text" class="form__field" id="usernameId" name="user" placeholder="Ingrese su nuevo usuario">
            <input type="password" class="form__field" id="passId"  name="pass" placeholder="Ingrese su nueva contraseña">
            <input type="submit" class="button_login" value="Registrate">
    
        </form>
    </div>