<! https://asart.com.ar/el-reglamento/#definiciones-expresiones-!->

<body id="b">
    <div class="titulo">
        <h1>
            REGLAMENTO OFICIAL 
        </h1>
    </div>

    <div class="left">
        <h1>01.</h1>
        <h1> REGLAMENTO OFICIAL </h1>
        <h1> EL JUEGO </h1>
       <div id="myModal" class="modal"  >

</div>


</body>
 