<! https://asart.com.ar/el-reglamento/#definiciones-expresiones-!->

<body id="b">
    <div class="iconcitos">
        <div class="iconizquierda">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="cornsilk" class="botonesarribaizq" viewBox="0 0 16 16" onclick="iraReglas()">
  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
</svg>
</div>
        <div class="iconderecha">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="cornsilk" class="botonesarribader" viewBox="0 0 16 16">
  <path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12V4zM6.312 6.39 8 5.04v5.92L6.312 9.61A.5.5 0 0 0 6 9.5H4v-3h2a.5.5 0 0 0 .312-.11zM12.025 8a4.486 4.486 0 0 1-1.318 3.182L10 10.475A3.489 3.489 0 0 0 11.025 8 3.49 3.49 0 0 0 10 5.525l.707-.707A4.486 4.486 0 0 1 12.025 8z"/>
</svg>
</div>
</div>
      <h2 class="titulo">REGLAS</h2>
      <div class="textoEnvido">
            <h2 class="yellowtext3">ENVIDO</h2>
            <p class="pi3">El envido es una apuesta que debe realizarse al principio de la mano. Ganará el Envido el jugador que tenga dos cartas del mismo palo con mayor valor.</p>
            <ul>       
                <li class="pi3">- Si se tienen 2 cartas del mismo palo, se suma su valor + 20. La puntuación más alta del envido es 33 (7+6+20=33).</li>
                <li class="pi3">- Cartas de figuras (sota, caballo y rey) valen 0 puntos para el envido. Si se tienen 2 figuras del mismo palo la puntuación de envido es 20 pues se tiene envido pero las cartas con las que se juega éste no tienen valor.</li>       
                <li class="pi3">- Si nadie tiene 2 cartas del mismo palo, ya que se puede lanzar envido siendo una mentira, se cuenta la carta más alta siendo 7 el número mayor</li>
                <li class="pi3">- En caso de que haya un empate entre jugadores, ganará el envido el jugador que sea mano.</li>
            </ul>
        <p class="pi3">Cuando un jugador o pareja lanza un envido, los contrincantes podrán responder con una de las opciones a continuación:</p>
            <ul>
                <li class="pi3">- Quiero. Acepta la apuesta que se resolverá al momento contando los puntos de cada jugador.</li>
                <li class="pi3">- Envido. Sube la apuesta (ésta se dobla) y el jugador contraria deciden sobre la misma.</li>
                <li class="pi3">- Real envido, sube la apuesta. Si el contrincante acepta ésta será de 3 puntos, en caso de rechazarla el jugador que lanza el Real envido se llevará 1 punto.</li>
                <li class="pi3">- Falta envido. Para el Falta Envido se deberá de tener en cuenta si se está en “buenas” (uno de los dos jugadores ha llegado a la mitad de puntos) o en “malas” (ninguno de los jugadores dispone de la mitad de puntos)</li>
                <li class="pi3">En caso de rechazo el jugador que ha lanzado el Falta Envido se llevará 1 punto.</li>
                <li class="pi3">- No quiero. Rechaza la apuesta. Los puntos irán en función de la apuesta que ya había en la mesa.</li>
            </ul>
            <div class="siguiente2">
            <input type="button" class="botonsiguiente" onclick="iraReglas3()" value="Siguiente">
            </div>
    </div>
</div>
</body>