<body id="b">
    <div class="iconcitos">
        <div class="iconizquierda">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="cornsilk" class="botonesarribaizq" viewBox="0 0 16 16" onclick="botonVolver()">
  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
</svg>
</div>
        <div class="iconderecha">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="cornsilk" class="botonesarribader" viewBox="0 0 16 16">
  <path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12V4zM6.312 6.39 8 5.04v5.92L6.312 9.61A.5.5 0 0 0 6 9.5H4v-3h2a.5.5 0 0 0 .312-.11zM12.025 8a4.486 4.486 0 0 1-1.318 3.182L10 10.475A3.489 3.489 0 0 0 11.025 8 3.49 3.49 0 0 0 10 5.525l.707-.707A4.486 4.486 0 0 1 12.025 8z"/>
</svg>
</div>
    </div>
    <h1 class="titulo"  >TRUCO IX</h1>
    <div class="crearsala">
    <input type="text" placeholder="nombre de la sala" id="nombre_sala" name="nombresala">    
    <input type="button" onclick="crearSala()" value="cree una sala">
    </div>
    <div class="login-form" id="salas"> 
    {{#each salas}}
         <div class="menu" id="sala" onclick="goToRoom('{{this.name_sala}}')">
        <div class="lateralizquierdo" >
      </div>
      <div>
          <h2 class="yellowtext">sala de: {{this.name_sala}}</h2>
      </div>
  </div>
      {{/each}}
    </div>
    
</body>