@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700');

:root{
	--top-vertical:0px;
	--left-horizontal:32px;
	--dimensiones-grupo:70px;
}

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    
  }
  */
  
  #b {
    background-image: url("/img/fondolog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }
  
  .login-form {
    width: 500px;
    height: 520px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  }
    .loginyregistro {
      background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
    
      width: 430px;
      height: 230px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -200px;
      margin-top: -100px;
      color: #333;
      box-shadow: 0px 1px 0px rgba(0,0,0,0.25);
    }
    
    .loginyregistro:before {
      display: block;
      position: absolute;
      height: 10px;
      bottom: -10px;
      left: 0;
      right: 0;
      content: '';
      z-index: 0;
      background: -webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, .7)),to(transparent));
      -webkit-mask-box-image: -webkit-gradient(linear,left top,right top,
        color-stop(0.0,rgba(0,0,0,0.1)),
        color-stop(0.025,rgba(0,0,0,0.8)),
        color-stop(0.5,rgba(0,0,0,0)),
        color-stop(0.975,rgba(0,0,0,0.8)),
        color-stop(1.0,rgba(0,0,0,0.1)));
    }
    
    
    .loginyregistro:after {
      content: " ";
      display: block;
      background: rgba(0,0,0,0.1);
      position: absolute;
      left: 35px;
      right: 35px;
      height: 30px;
      top: -15px;
      /*margin-left: 240px; */
    }
    
    .loginyregistro form {
      width: 70%;
      margin: 30px auto;
      text-align: center;
    }
    
    .loginyregistro form h1 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .loginyregistro form h1:before {
      display: inline-block;
      content: " ";
      margin-right: 15px;
      width: 60px;
      height: 6px;
      border-top: 1px solid #333;
    }
    .loginyregistro form h1:after {
      display: inline-block;
      content: " ";
      margin-left: 15px;
      width: 60px;
      height: 6px;
      border-top: 1px solid #333;
    }

.form__field {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
  text-indent: 10px;
  outline: none;
  -webkit-transition: box-shadow 1s;
  -moz-transition: box-shadow 1s;
  -o-transition: box-shadow 1s;
  transition: box-shadow 1s;
}
.form__field:focus {
  box-shadow: 0px 0px 3px 1px #a2d7fc;
}

.button_login {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  background: rgb(224,243,250);
  background: -moz-linear-gradient(top,  rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,243,250,1)), color-stop(50%,rgba(216,240,252,1)), color-stop(51%,rgba(184,226,246,1)), color-stop(100%,rgba(182,223,253,1)));
  background: -webkit-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
  background: -o-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
  background: -ms-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
  background: linear-gradient(to bottom,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 );
  border: 1px solid #b6dffd;
  color: black;
  text-transform: uppercase;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.7);
  text-shadow: 0px 1px 1px white;
  font-size: 12px;
}

.button_login:hover {
  text-shadow: 0px 0px 1px gray;
}
.button_login:active {
  background: rgb(162,215,252);
  background: -moz-linear-gradient(top,  rgba(162,215,252,1) 0%, rgba(164,219,244,1) 49%, rgba(194,231,250,1) 50%, rgba(203,235,247,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162,215,252,1)), color-stop(49%,rgba(164,219,244,1)), color-stop(50%,rgba(194,231,250,1)), color-stop(100%,rgba(203,235,247,1)));
  background: -webkit-linear-gradient(top,  rgba(162,215,252,1) 0%,rgba(164,219,244,1) 49%,rgba(194,231,250,1) 50%,rgba(203,235,247,1) 100%);
  background: -o-linear-gradient(top,  rgba(162,215,252,1) 0%,rgba(164,219,244,1) 49%,rgba(194,231,250,1) 50%,rgba(203,235,247,1) 100%);
  background: -ms-linear-gradient(top,  rgba(162,215,252,1) 0%,rgba(164,219,244,1) 49%,rgba(194,231,250,1) 50%,rgba(203,235,247,1) 100%);
  background: linear-gradient(to bottom,  rgba(162,215,252,1) 0%,rgba(164,219,244,1) 49%,rgba(194,231,250,1) 50%,rgba(203,235,247,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d7fc', endColorstr='#cbebf7',GradientType=0 );
  margin-top: 10px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.7) inset;
}


/* JUEGO */
.titulo{
  text-align: center;
  font-family: 'Rye', cursive;
  font-weight: bold;
  font-size: 100px;
  color:cornsilk;
  text-shadow: 0 1px 0 darkgoldenrod, 0 2px 0 darkgoldenrod, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}
.menu{
  height: 25%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  cursor: pointer;
}

.menu:hover {
  background: rgba(0, 0, 0, 0.5);
}

.lateralizquierdo{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lateralderecho{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.yellowtext{
  color: goldenrod;
  margin-top: 25px;
}
.pi{
  color: #fff;
}
h1 {
  text-align: center;
 }

 #myBtn {
  margin-left: 2%;
  transition: 250ms;
 }
 #myBtn:hover {
  transform: scale(1.2);
 }

 #myBtn2 {
  margin-left: 90%;
  transition: 250ms;
 }
 #myBtn2:hover {
  transform: scale(1.2);
 }

 #boke {
  background-color: #173138;
 }
 #pintao {
  background-color: #173138;
 }
 #inf {
  background-color: #173138;
 }
 

.irajuego {
  margin: 2% auto 0 auto;
  margin-left: 2%;
  width: 32px;
  height: 32px;
  transition: 250ms;
}
.irajuego:hover {
  transform: scale(1.2);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed ; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 70%; /* Full width */
  height: 100%; /* Full height */
  background-color: #061b21; /* Fallback color */
  color: #FFF;
  overflow: auto; /* Enable scroll if needed */
  opacity: 90%;
}

/* Modal Content/Box */
.modal-content {
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #0f0f0f;
  width: 80%; /* Could be more or less, depending on screen size */
  
}

.modal-width {
  max-width: 30vw;
  
}

/* The Close Button */
.close {
  color: #e20909;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(5, 5, 5);
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #e20909;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(5, 5, 5);
  text-decoration: none;
  cursor: pointer;
}

/*puntuacao*/
table {
  width: 100%;
  border-collapse: collapse;
  display: table;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
  background: transparent;
}

.table100 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  padding-top: 60px;
  position: relative;
}

.table100.ver3 {
  background-color: #393939;
}
.m-b-110 {
  margin-bottom: 110px;
}

.table100-body {
  max-height: 585px;

}

.js-pscroll {
  position: relative;
}
.ps {
  overflow: hidden!important;
  overflow-anchor: none;
  touch-action: auto;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  color: #00ad5f;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #393939;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: left;
  display: table-cell;
  vertical-align: inherit;
}

td {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  color: gray;
  line-height: 1.4;
  background-color: #222;
  padding-top: 16px;
  padding-bottom: 16px;
  display: table-cell;
  vertical-align: inherit;
}

.column1 {
  width: 33%;
  padding-left: 40px;
}
.column2 {
  width: 13%;
}



/* ANOTADOR*/


#jugadoresContainer {
  display: flex;
	justify-content: center;
}

.jugadorContainer {
	width: 40vw;
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: rgb(234, 233, 213);
	border-radius: 5px;
	margin: 10px;
}

h2{
	margin-top: 30px;
	margin-bottom: 0px;
}

img{
	height: var(--dimensiones-grupo)
}

.cuenta{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.grupo{
  display:flex;
	position: relative;
	height: var(--dimensiones-grupo);
	width: var(--dimensiones-grupo);
	margin: 10px;
}

.fosforo1{
	position: absolute;
	transform: rotate(90deg);
	top:-30px;
	left:var(--left-horizontal);
}

.fosforo2{
	position: absolute;
	transform: rotate(180deg);
	left:  65px;
	top: var(--top-vertical)
}

.fosforo3{
	position: absolute;
	transform: rotate(270deg);
	top: 32px;
	left:var(--left-horizontal);
}

.fosforo4{
	position: absolute;
	left: 0px;
	top: var(--top-vertical)
}

.fosforo5{
	position: absolute;
	transform: rotate(45deg);
	left:34px;
	top:0px
}

.botonesJugador{
	position:fixed;
	margin-top: auto;
	top:50px;
}

button{
	min-width: 60px;
	padding: 0 10px;
	font-size: xx-large;
	margin: 20px 0;
	border-radius: 5px;
	background-color: rgb(200, 197, 193);
}

dialog{
	font-size: larger;
}

.separador{
	border-top: 2px solid black;
	width: var(--dimensiones-grupo);
	margin: 10px;
}

@media (min-width: 450px) { 
	.separador{
		height: var(--dimensiones-grupo);
		width: unset;
		border-top: unset;
		border-left: 2px solid black;
	}
 }